In [2]:
pip install praw

Collecting praw
  Downloading praw-7.7.1-py3-none-any.whl (191 kB)
                                              0.0/191.0 kB ? eta -:--:--
     -------------------------------------- 191.0/191.0 kB 3.8 MB/s eta 0:00:00
Collecting prawcore<3,>=2.1 (from praw)
  Downloading prawcore-2.3.0-py3-none-any.whl (16 kB)
Collecting update-checker>=0.18 (from praw)
  Downloading update_checker-0.18.0-py3-none-any.whl (7.0 kB)
Requirement already satisfied: websocket-client>=0.54.0 in c:\users\afaaq\anaconda3\lib\site-packages (from praw) (0.58.0)
Requirement already satisfied: requests<3.0,>=2.6.0 in c:\users\afaaq\anaconda3\lib\site-packages (from prawcore<3,>=2.1->praw) (2.29.0)
Requirement already satisfied: six in c:\users\afaaq\anaconda3\lib\site-packages (from websocket-client>=0.54.0->praw) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\afaaq\anaconda3\lib\site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\afaaq\anaconda3\lib\site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\afaaq\anaconda3\lib\site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\afaaq\anaconda3\lib\site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.1->praw) (2023.5.7)
Installing collected packages: update-checker, prawcore, praw
Successfully installed praw-7.7.1 prawcore-2.3.0 update-checker-0.18.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import praw

In [2]:
import pandas as pd

In [29]:
def get_top_posts(subreddit_list='analysis', limit=1000, time_filter='all'):
    
    #creating a read-only Reddit instance
    reddit = praw.Reddit(client_id='_XTq6QIL5yMQmhlxVxL9dw',
                      client_secret='Rx-LOXA4lcjte1VYQI5mgiYieLOrGA',
                        redirect_uri="http://localhost:8888",
                         user_agent='Available_Chicken510')
    
    posts = reddit.subreddit(subreddit_list).top(time_filter=time_filter, limit=limit)

        # initializing post dataframe
    posts_df = []

    for post in posts:
        posts_df.append({'post_id': post.id,
                         'subreddit': post.subreddit,
                         'created_utc': post.created_utc,
                         'selftext':post.selftext,
                         'post_url':post.url,
                         'link_flair_text': post.title,
                         'score': post.score,
                         'num_comments': post.num_comments,
                         'upvote_ratio': post.upvote_ratio
                         })

    return pd.DataFrame(posts_df)
posts_df = get_top_posts(subreddit_list='analysis+dataanalysis', limit=2000, time_filter='all')
posts_df.to_csv('analysis+dataanalysis.csv', header=True, index=False)
posts_df

,post_id,subreddit,created_utc,selftext,post_url,link_flair_text,score,num_comments,upvote_ratio
0,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99
1,z0mrku,dataanalysis,1.668997e+09,"Most important SQL command and function, hope ...",https://i.redd.it/qpoytkb0a91a1.jpg,"SQL roadmap, things you should know",487,23,0.99
2,unoys0,dataanalysis,1.652318e+09,&#x200B;\n\n\---------------------------------...,https://www.reddit.com/r/dataanalysis/comments...,Google Apprenticeship Response from Google 2022,466,3819,0.99
3,xg0c4u,dataanalysis,1.663356e+09,Basically I got lucky. I finished the course o...,https://www.reddit.com/r/dataanalysis/comments...,I started the Google Data Analytics course on ...,434,116,0.99
4,z1v48z,dataanalysis,1.669128e+09,,https://i.redd.it/o234ckej1k1a1.jpg,It really be like that,411,22,0.99
...,...,...,...,...,...,...,...,...,...
1055,35leuk,analysis,1.431352e+09,,http://www.spiked-online.com/newsite/article/t...,The fury of the elites: when the little people...,0,0,0.50
1056,2d57k6,analysis,1.407676e+09,,http://blog.fasterthemes.com/why-speed-optimiz...,Why speed optimized WordPress themes are neces...,0,0,0.50
1057,23g4kg,analysis,1.397928e+09,,http://www.defenseone.com/ideas/2014/04/why-pe...,Why the Pentagon Should Reduce Its Civilian Wo...,0,0,0.50
1058,23fxws,analysis,1.397924e+09,,http://www.defenseone.com/technology/2014/04/s...,The Science of Unmasking Russian Forces in Ukr...,0,0,0.50
1059,1gyn61,analysis,1.372071e+09,,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33

In [33]:
#trial for one comment 

submission = reddit.submission("yemkwk")
submission.comments.replace_more(limit=None)
for comment in submission.comments.list():
    print(comment.body)

Wow, it is good for you!
I also have no degree and looking for an entry-level data analyst, but it isn't easy. Can I ask you what kind course did you learn?
Congratulations!!
Congrats. I thought it's impossible to land a job through online courses as I heard a lot from them here that they are too basic. Im happy for you.
Congrats! I am too taking Coursera Data Analyst course, at the very beginning of the course, actually. What pointers can you give to someone like me who is changing a career from construction to IT? Also, kudos on the resume, very well written.
Whats the pay?
Wonsulting’s TikTok page is awesome 🙌 was able to land a job through their strategies / services! Congrats!
Congratulations!
Congrats!  Is it remote?
Please post the version of resume that landed the job. Do anonymize it.
And congratulations! 🎉
Congrats bud! Hope I can get there soon, too! Best of luck with the role!

Edit: can I ask which sites you used to find the job apps?
Congrats! 😁

I hope everyone here finds a job they respect that respects them 😁
Dude you rock n congrats.
Are you from the states and it's possible to do remote?

Also, did you apply on job platforms or directly to firm's website?
Congratulations, that's inspiring 🎊🎊🎊
Could share your resume?
I’m curious what certifications did you have/how in general did you land the tech support job? I had a really basic tech support job while I was going to school in a different field but I’d like to get back into it when I go to school for data science in spring.
Congratulations!
Good job!!!
did you do projects that helped you get the job?Do these course get you to the level of confidence to do the project and apply for jobs?
Could you help me land a remote data analyst job? I have a good experience working in the data analytics profession and I have a bachelors degree as well. I am also pursuing a masters degree in computer science. However I live in a developing country and I am aiming for a remote data analyst job. Most of the jobs in my country are on-site and I'm tired of traveling every day. I am currently a data engineer and have a strong experience with SQL, Excel and Business Intelligence tools like PowerBI, Tableau and Cognos. Also have a working knowledge of Python. Would greatly appreciate your help.
So these are the online courses I've used so far:

\- Python (great course) [https://www.udemy.com/course/100-days-of-code/](https://www.udemy.com/course/100-days-of-code/)

\- SQL [https://www.udemy.com/course/the-complete-oracle-sql-certification-course/](https://www.udemy.com/course/the-complete-oracle-sql-certification-course/)

\- General DA course [https://www.coursera.org/professional-certificates/ibm-data-analyst](https://www.coursera.org/professional-certificates/ibm-data-analyst)
Thank you ✊
Theres plenty of folks here that'll be able to give you some solid advice. But I'd say build up to a portfolio, and if it's possible, try and get some sort of analytical experience through your current job. Even if it's just managing some spreadsheets. But that online course is great and would give you a solid ground for understanding the field.

If you're new to Python/coding though, you might struggle with parts of this course. In this case, the 100 days of coding course in Udemy was great for learning Python. Even if you only do the first half, then go back to Coursera
£30k
Appreciate it 🙏
Apparently it's entirely up to me. They're very relaxed with where you work, but I'll be choosing to head into the office. I've been working in my bedroom for nearly 3 years now, and I'm very much done with it
sorted and attached to post
Will do shortly!
Thank you 😁🙏
Sure you will do! And thank you. Just to confirm, are you asking about job vacancy sites?

If so, I used Indeed and Linkedin. I'd also suggest checking out Wonsulting for tips on applying, suggested to me by another redditor: https://www.tiktok.com/@wonsulting?lang=en
Thank you my dude! I'm from the UK, and the role has the remote option.

I found most jobs from indeed.com, but some on LinkedIn (either job posts or reaching out directly to hiring managers)
Before and after resume should be showing in the post. Let me know if you cant see
Both my old and new resumes are above which show all online certs and experience. The tech support role was pretty standard and there were no hard skills required. Other than general IT.

I'm now considering doing a Data Science part time degree on the side, as I feel restricted without a degree. Have you started the course yet? If so, how are you finding it?
🙏
Greatly appreciate to advice. I am brand new to all of the technology. Been born and raised into construction so the work “coding” alone is new to me. I’m starting from the far bottom and I understand I have a long way to go. Having acquired back problem definitely game me enough push to switch my career. I will definitely take a look at the Udemy coding course. Thanks
Not to be rude but, is £30k a livable wage where you are? That seems abnormally low for such a job.
can we see  also see the winning version of the resume? seems fair
Thanks! That looks so clean and to the point!
Yes, that's great, thank you! I've been using Indeed (am a bit afraid of LinkedIn as I've not had the most linear career so far 😅) but once I graduate then I'll use it. Thanks and congrats again!
I haven’t started yet, I actually just received my acceptance letter last week so I haven’t even enrolled lol. its been a pain in the ass tech support job hunting, they either require a degree in IT/related field or it’s a literal door to door sales scam.
You're welcome! There's plenty of more experienced people in the sub that will be able to help you on your way. I wouldnt worry too much about the coding skills for now. Get the fundamentals of data analysis down, get silky smooth with Excel and then go from there. Good luck!
Well, Idk where Op is from but Hungary for example has an average gross salary of around 15 k , 30k here would be considered really good
Would love to see the resume that landed your first DA job
Action verbs are king!

Edit: and bullet points 😅
You're welcome, and thanks again 🙏
Absolutely. Will do a before and after then post
Added
Thank you! 😊
Thanks! Well done! I can see the difference! Huge congrats!
Appreciate it 😁

In [35]:
#getting all the comments now

comments_list = []

for post_id in posts_df['post_id']:

    submission.comments.replace_more(limit=None)
    for comment in submission.comments.list():
        comments_list.append({'post_id': post_id, 'comment': comment.body})
        
#and now putting it in a dataframe        

comments_df = pd.DataFrame(comments_list)
comments_df.to_csv('analysis+dataanalysis_comments.csv', header=True, index=False)
comments_df

       post_id                                            comment
0      10onhl2  Wow, it is good for you!\nI also have no degre...
1      10onhl2                                  Congratulations!!
2      10onhl2  Congrats. I thought it's impossible to land a ...
3      10onhl2  Congrats! I am too taking Coursera Data Analys...
4      10onhl2                                     Whats the pay?
...        ...                                                ...
52995   1gyn61   Absolutely. Will do a before and after then post
52996   1gyn61                                              Added
52997   1gyn61                                       Thank you! 😊
52998   1gyn61  Thanks! Well done! I can see the difference! H...
52999   1gyn61                                    Appreciate it 😁

[53000 rows x 2 columns]

In [13]:
#initialzing
import pandas as pd
import datetime as dt

# Load data
posts_df = pd.read_csv('analysis+dataanalysis.csv')
comments_df = pd.read_csv('analysis+dataanalysis_comments.csv')

In [5]:
posts_df

,post_id,subreddit,created_utc,selftext,post_url,link_flair_text,score,num_comments,upvote_ratio
0,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99
1,z0mrku,dataanalysis,1.668997e+09,"Most important SQL command and function, hope ...",https://i.redd.it/qpoytkb0a91a1.jpg,"SQL roadmap, things you should know",487,23,0.99
2,unoys0,dataanalysis,1.652318e+09,&#x200B;\n\n\---------------------------------...,https://www.reddit.com/r/dataanalysis/comments...,Google Apprenticeship Response from Google 2022,466,3819,0.99
3,xg0c4u,dataanalysis,1.663356e+09,Basically I got lucky. I finished the course o...,https://www.reddit.com/r/dataanalysis/comments...,I started the Google Data Analytics course on ...,434,116,0.99
4,z1v48z,dataanalysis,1.669128e+09,NaN,https://i.redd.it/o234ckej1k1a1.jpg,It really be like that,411,22,0.99
...,...,...,...,...,...,...,...,...,...
1055,35leuk,analysis,1.431352e+09,NaN,http://www.spiked-online.com/newsite/article/t...,The fury of the elites: when the little people...,0,0,0.50
1056,2d57k6,analysis,1.407676e+09,NaN,http://blog.fasterthemes.com/why-speed-optimiz...,Why speed optimized WordPress themes are neces...,0,0,0.50
1057,23g4kg,analysis,1.397928e+09,NaN,http://www.defenseone.com/ideas/2014/04/why-pe...,Why the Pentagon Should Reduce Its Civilian Wo...,0,0,0.50
1058,23fxws,analysis,1.397924e+09,NaN,http://www.defenseone.com/technology/2014/04/s...,The Science of Unmasking Russian Forces in Ukr...,0,0,0.50
1059,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33

In [6]:
# Convert created date to normal datetime
posts_df['created_date'] = posts_df['created_utc'].apply(lambda x: dt.datetime.fromtimestamp(x))
posts_df['created_year'] = posts_df['created_date'].dt.year
posts_df

,post_id,subreddit,created_utc,selftext,post_url,link_flair_text,score,num_comments,upvote_ratio,created_date,created_year
0,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023
1,z0mrku,dataanalysis,1.668997e+09,"Most important SQL command and function, hope ...",https://i.redd.it/qpoytkb0a91a1.jpg,"SQL roadmap, things you should know",487,23,0.99,2022-11-21 07:52:27,2022
2,unoys0,dataanalysis,1.652318e+09,&#x200B;\n\n\---------------------------------...,https://www.reddit.com/r/dataanalysis/comments...,Google Apprenticeship Response from Google 2022,466,3819,0.99,2022-05-12 06:39:46,2022
3,xg0c4u,dataanalysis,1.663356e+09,Basically I got lucky. I finished the course o...,https://www.reddit.com/r/dataanalysis/comments...,I started the Google Data Analytics course on ...,434,116,0.99,2022-09-17 00:49:32,2022
4,z1v48z,dataanalysis,1.669128e+09,NaN,https://i.redd.it/o234ckej1k1a1.jpg,It really be like that,411,22,0.99,2022-11-22 20:04:35,2022
...,...,...,...,...,...,...,...,...,...,...,...
1055,35leuk,analysis,1.431352e+09,NaN,http://www.spiked-online.com/newsite/article/t...,The fury of the elites: when the little people...,0,0,0.50,2015-05-11 19:08:27,2015
1056,2d57k6,analysis,1.407676e+09,NaN,http://blog.fasterthemes.com/why-speed-optimiz...,Why speed optimized WordPress themes are neces...,0,0,0.50,2014-08-10 18:38:08,2014
1057,23g4kg,analysis,1.397928e+09,NaN,http://www.defenseone.com/ideas/2014/04/why-pe...,Why the Pentagon Should Reduce Its Civilian Wo...,0,0,0.50,2014-04-19 22:54:23,2014
1058,23fxws,analysis,1.397924e+09,NaN,http://www.defenseone.com/technology/2014/04/s...,The Science of Unmasking Russian Forces in Ukr...,0,0,0.50,2014-04-19 21:35:46,2014
1059,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013

In [7]:
# Merge posts with their comments
comments_posts_df = posts_df.merge(comments_df, on='post_id', how='left')

# Remove rows with missing comments
comments_posts_df = comments_posts_df[~comments_posts_df['comment'].isnull()]

In [10]:
comments_posts_df

,post_id,subreddit,created_utc,selftext,post_url,link_flair_text,score,num_comments,upvote_ratio,created_date,created_year,comment
0,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023,"Wow, it is good for you!\nI also have no degre..."
1,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023,Congratulations!!
2,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023,Congrats. I thought it's impossible to land a ...
3,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023,Congrats! I am too taking Coursera Data Analys...
4,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023,Whats the pay?
...,...,...,...,...,...,...,...,...,...,...,...,...
52995,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013,Absolutely. Will do a before and after then post
52996,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013,Added
52997,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013,Thank you! 😊
52998,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013,Thanks! Well done! I can see the difference! H...
52999,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013,Appreciate it 😁

In [9]:
comments_posts_df

,post_id,subreddit,created_utc,selftext,post_url,link_flair_text,score,num_comments,upvote_ratio,created_date,created_year,comment
0,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023,"Wow, it is good for you!\nI also have no degre..."
1,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023,Congratulations!!
2,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023,Congrats. I thought it's impossible to land a ...
3,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023,Congrats! I am too taking Coursera Data Analys...
4,10onhl2,dataanalysis,1.675038e+09,Starting a career in data analytics can open u...,https://www.reddit.com/r/dataanalysis/comments...,Want to become an analyst? Start here.,869,72,0.99,2023-01-30 05:55:03,2023,Whats the pay?
...,...,...,...,...,...,...,...,...,...,...,...,...
52995,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013,Absolutely. Will do a before and after then post
52996,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013,Added
52997,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013,Thank you! 😊
52998,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013,Thanks! Well done! I can see the difference! H...
52999,1gyn61,analysis,1.372071e+09,NaN,http://www.ndtv.com/video/player/news/how-hond...,How Honda plans to unseat Hero MotoCorp,0,0,0.33,2013-06-24 16:27:37,2013,Appreciate it 😁

In [17]:
comments_posts_df.to_csv('analysis+dataanalysis_total.csv', header=True, index=False)